/* ========================================================================
     Component: Base
   ========================================================================== */
:root {
  @each $scale, $color in $base {
    --fu-theme-#{$scale}: #{$color};
  }
}

@media (prefers-scheme: no-preference) and (prefers-scheme: light) {
  :root {
    @each $scale, $color in $lights {
      --fu-theme-#{$scale}: #{$color};
    }
  }
}

.fu-theme-light {
  @each $scale, $color in $lights {
    --fu-theme-#{$scale}: #{$color};
  }
}

/* Style modifiers
   ========================================================================== */

/** 
  * Theme
  */

@media (prefers-scheme: dark) {
  :root {
    @each $scale, $color in $darks {
      --fu-theme-#{$scale}: #{$color};
    }
  }
}

.fu-theme-dark {
  @each $scale, $color in $darks {
    --fu-theme-#{$scale}: #{$color};
  }
}

/* Universal style
   ========================================================================== */
/**
  * 1.Remove the outline on all elements when they are active or hovered
  * 2.Make the tap highlight color of all elements in Webkit browser transparent
  */

* {
  /* 1 */
  outline: none;
  /* 2 */
  -webkit-tap-highlight: transparent;
}

/* Element modifiers
   ========================================================================== */

body {
  /* Layout */
  overflow-y: scroll;

  /* Text */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.25;
  word-wrap: break-word;

  /* Visual */
  color: $on-surface-light;
  /* @alternate */
  color: var(--fu-theme-on-surface, $on-surface-light);
  background: $background-light;
  /* @alternate */
  background: var(--fu-theme-background, $background-light);
}

hr {
  height: 2px;
  border: 0;
  background: $surface-variant-light;
  /* @alternate */
  background: var(--fu-theme-surface-variant, $surface-variant-light);
}
