/* ========================================================================
     Component: Base
   ========================================================================== */
:root {
  @each $scale, $color in $light-colors {
    --theme-#{$scale}: #{$color};
  }
}

/* Style modifiers
   ========================================================================== */

/** 
  * Theme
  */

.fu-theme-dark {
  /* Visual */
  color: $on-surface-color-light;
  /* @alternate */
  color: var(--theme-on-surface-color, $on-surface-color-light);
  background: $background-color-light;
  /* @alternate */
  background: var(--theme-background-color, $background-color-light);

  @each $scale, $color in $dark-colors {
    --theme-#{$scale}: #{$color};
  }
}

/* Universal style
   ========================================================================== */
/**
  * 1.Remove the outline on all elements when they are active or hovered
  * 2.Make the tap highlight color of all elements in Webkit browser transparent
  */
* {
  /* 1 */
  outline: none;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
}

/* Element modifiers
   ========================================================================== */

body {
  /* Layout */
  overflow-y: scroll;

  /* Visual */
  color: $on-surface-color-light;
  /* @alternate */
  color: var(--theme-on-surface-color, $on-surface-color-light);
  background: $background-color-light;
  /* @alternate */
  background: var(--theme-background-color, $background-color-light);

  /* Text */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.25;
  word-wrap: break-word;
}

hr {
  height: 2px;
  border: 0;
  background: $variant-color-light;
  background: var(--theme-variant-color, $variant-color-light);
}
