/* ========================================================================
     Component: Base
   ========================================================================== */
/* Universal style
   ========================================================================== */
/**
  * 1.Remove the outline on all elements when they are active or hovered
  * 2.Make the tap highlight color of all elements in Webkit browser transparent
  */

* {
  /* 1 */
  outline: none;
  /* 2 */
  -webkit-tap-highlight: #000;
}

/* Element modifiers
   ========================================================================== */

body {
  /* Layout */
  overflow-y: scroll;

  /* Text */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 16px;
  line-height: 1.25;
  word-wrap: break-word;
}

hr {
  border: 0;
  height: 2px;
  padding: 0;
  background-color: #e1e4e8;
}
