/* ========================================================================
     Component: Base
   ========================================================================== */
/* Universal style
   ========================================================================== */
/**
  * 1.Remove the outline on all elements when they are active or hovered
  * 2.Make the tap highlight color of all elements in Webkit browser transparent
  */

* {
  outline: none;

  -webkit-tap-highlight-color: transparent;
}

:disabled {
  cursor: default;
  pointer-events: none;
}

/* Element modifiers
   ========================================================================== */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 16px;
  line-height: 1.25;

  overflow-y: scroll;

  word-wrap: break-word;

  color: $default-text;
  background: $default-light;
}

hr {
  height: 0.15em;
  padding: 0;

  border: none;
  background-color: #e1e4e8;
}
