/* ========================================================================
     Component: Background
   ========================================================================== */
/* Background color
   ========================================================================== */
.fun-background-transparent {
  background: transparent;
}

.fun-background-default {
  background-color: $default-light;
}

.fun-background-muted {
  background-color: $default;
}

.fun-background-primary {
  background-color: $primary;
}

.fun-background-secondary {
  background-color: $secondary;
}

.fun-background-warning {
  background-color: $warning;
}

.fun-background-success {
  background-color: $success;
}

/* Size
   ========================================================================== */
.fun-background-cover,
.fun-background-contain {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.fun-background-cover {
  background-size: cover;
}

.fun-background-contain {
  background-size: contain;
}

/* Position
   ========================================================================== */
.fun-background-top-left {
  background-position: 0 0;
}

.fun-background-top-center {
  background-position: 50% 0;
}

.fun-background-top-right {
  background-position: 100% 0;
}

.fun-background-center-left {
  background-position: 0 50%;
}

.fun-background-center-center {
  background-position: 50% 50%;
}

.fun-background-center-right {
  background-position: 100% 50%;
}

.fun-background-bottom-left {
  background-position: 0 100%;
}

.fun-background-bottom-center {
  background-position: 50% 100%;
}

.fun-background-bottom-right {
  background-position: 100% 100%;
}

/* Repeat
   ========================================================================== */
.fun-background-norepeat {
  background-repeat: no-repeat;
}

/* Attachment
   ========================================================================== */
/*
  * 1. Fix bug introduced in Chrome 67: the background image is not visible if any element on the page uses `translate3d`
  */
.fun-background-fixed {
  background-attachment: fixed;

  backface-visibility: hidden;
}

/*
  * Exclude touch devices because `fixed` doesn't work on iOS and Android
  */
@media (pointer: coarse) {
  .fun-background-fixed {
    background-attachment: scroll;
  }
}
/* Image
   ========================================================================== */
@each $breakpoint, $width in $breakpoints {
  @media (max-width: #{$width - 1px}) {
    .fun-background-image#{$breakpoint} {
      background-image: none;
    }
  }
}
