/* ========================================================================
     Component: Box
   ========================================================================== */
.fu-box {
  /* Layout */
  position: relative;

  /* Box model */
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  max-width: 344px;
  box-shadow: 0 1px 4px -1px $default-dark;

  /* Text */
  line-height: 1.5;
  word-break: break-word;
  text-overflow: ellipsis;

  /* Visual */
  background: $default-light;

  img {
    width: 100%;
    height: auto;
  }

  .fu-box-header {
    padding: 15px 15px 5px;
  }

  .fu-box-content {
    padding: 10px 15px;
  }

  .fu-box-content:last-child {
    padding-bottom: 15px;
  }

  .fu-box-footer {
    padding: 5px 15px 5px;
  }
}

.fu-box-media {
  overflow: hidden;
  height: 194px;
}

.fu-box-action {
  /* Layout */
  display: block;
  position: relative;
  overflow: hidden;

  /* Box model */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  /* Visual */
  cursor: pointer;
  user-select: none;
  transition: background-color 150ms linear;

  &::before,
  &::after {
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    content: '';

    top: calc(50% - 100%);

    /* @noflip */
    left: calc(50% - 100%);
    width: 200%;
    height: 200%;
    background: $default-text;
  }

  &::after {
    transition: opacity 150ms linear;
  }

  &:hover::before {
    opacity: 0.04;
  }

  &:focus::before,
  &:active::after {
    transition-duration: 75ms;
    opacity: 0.12;
  }
}
