/* ========================================================================
     Component: Button
   ========================================================================== */
.fu-button {
  height: 36px;
  padding: 0 8px;

  user-select: none;
  text-transform: uppercase;

  &:not(:disabled) {
    cursor: pointer;

    color: currentColor;
    background: transparent;
  }

  &::before,
  &::after {
    position: absolute;
    top: calc(50% - 100%);
    left: calc(50% - 100%);

    width: 200%;
    height: 200%;

    content: '';
    pointer-events: none;

    opacity: 0;
    border-radius: 50%;
    background: currentColor;
  }

  &::after {
    transition: all 150ms linear;
  }

  &:hover::before {
    opacity: 0.08;
  }

  &:focus::before,
  &:active::after {
    transition-duration: 75ms;

    opacity: 0.24;
  }
}

.fu-button-dense {
  font-size: 0.8125rem;

  height: 32px;
}

.fu-button-loose {
  height: 40px;
}

/* Style modifiers   ========================================================================== */
.fu-button-outlined {
  padding: 0 16px;

  &:not(:disabled) {
    border: 1px solid currentColor;
  }
}

.fu-button-contained,
.fu-button-fade {
  padding: 0 16px;

  &:not(:disabled) {
    color: $primary-text;
    background: $primary-dark;
  }

  &::before,
  &::after {
    background: $primary-text;
  }
}

.fu-button-fade {
  &:not(:disabled) {
    color: $default-text;
    background: $default-dark;
  }

  &::before,
  &::after {
    background: $primary-dark;
  }
}

/* Icon button   ========================================================================== */
.fu-button-icon {
  font-size: 18px;

  display: inline-block;

  width: 18px;
  height: 18px;
  margin-right: 8px;
  margin-left: 0;

  color: inherit;
}

.fu-button-reverse .fu-button .fu-button-icon,
.fu-button-reverse.fu-button .fu-button-icon {
  margin-right: 0;
  margin-left: 8px;
}

svg.fu-button-icon {
  fill: currentColor;
}

.fu-button-contained .fu-button-icon,
.fu-button-outlined .fu-button-icon {
  margin-right: 8px;
  margin-left: -4px;
}

.fu-button-reverse .fu-button-contained .fu-button-icon,
.fu-button-reverse .fu-button-outlined .fu-button-icon,
.fu-button-reverse.fu-button-contained .fu-button-icon,
.fu-button-reverse.fu-button-outlined .fu-button-icon {
  margin-right: -4px;
  margin-left: 8px;
}

.fu-icon-button {
  min-width: 36px;
  padding: 0;

  border-radius: 500px;

  &.fu-button-dense {
    min-width: 32px;
  }

  &.fu-button-loose {
    min-width: 40px;
  }
}

/* Group ========================================================================== */
/*
 * 1. Using `flex` instead of `inline-block` to prevent whitespace betweent child elements 
 * 2. Behave like button * 3. Create position context 
 */
.fu-button-group {
  position: relative;

  display: inline-flex;

  vertical-align: middle;

  > {
    .fu-button:first-child,
    .fu-button:last-child {
      border-radius: 4px;
    }

    .fu-button:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .fu-button:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
