/* ========================================================================
     Component: Card
   ========================================================================== */
.fun-card {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  border-radius: 4px;
  background-color: var(--fun-theme-bg);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.fun-card-media {
  position: relative;

  box-sizing: border-box;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    display: block;

    content: '';
  }

  &:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  &:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
  }
}

.fun-card-media--square::before {
  margin-top: 100%;
}

.fun-card-media--16-9::before {
  margin-top: 56.25%;
}

.fun-card-media-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  box-sizing: border-box;
}

.fun-card-header {
  padding: 16px;
}

.fun-card-content {
  padding: 0 16px 8px;
}

.fun-card-action {
  position: relative;

  display: flex;
  overflow: hidden;
  flex-direction: column;

  box-sizing: border-box;

  cursor: pointer;
  text-decoration: none;

  color: inherit;
  outline: none;

  &:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  &:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
  }
}

.fun-card-footer {
  display: flex;
  align-items: center;
  flex-direction: row;

  box-sizing: border-box;
  min-height: 52px;
  padding: 8px;
}

.fun-card-footer-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  box-sizing: border-box;
}

.fun-card-footer-icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;

  box-sizing: border-box;
}

.fun-card-action {
  -webkit-tap-highlight-color: transparent;

  &::before,
  &::after {
    position: absolute;

    content: '';
    pointer-events: none;

    opacity: 0;
    border-radius: 50%;
  }

  &::before {
    z-index: 1;

    transition: opacity 15ms linear, background-color 15ms linear;
  }

  &::before,
  &::after {
    top: calc(50% - 100%);
    /* @noflip */
    left: calc(50% - 100%);

    width: 200%;
    height: 200%;
  }

  &::before,
  &::after {
    background-color: currentColor;
  }

  &:hover::before {
    opacity: 0.04;
  }

  &:focus::before {
    transition-duration: 75ms;

    opacity: 0.12;
  }

  &::after {
    transition: opacity 150ms linear;
  }

  &:active::after {
    transition-duration: 75ms;

    opacity: 0.12;
  }
}
