/* ========================================================================
     Component: Card
   ========================================================================== */
.fun-card {
  line-height: 1.5;

  position: relative;

  box-sizing: border-box;
  width: 100%;
  max-width: 344px;

  text-overflow: ellipsis;
  word-break: break-word;

  border-radius: 4px;
  background: $default-light;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);

  .fun-card-header {
    padding: 15px 15px 5px;
  }

  .fun-card-content {
    padding: 10px 15px;
  }

  .fun-card-footer {
    padding: 5px 15px 5px;
  }
}

.fun-card-media {
  overflow: hidden;

  height: 194px;
}

.fun-card-action {
  position: relative;

  display: block;
  overflow: hidden;

  cursor: pointer;
  user-select: none;
  transition: background-color 150ms linear;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  &::before,
  &::after {
    position: absolute;
    top: calc(50% - 100%);
    left: calc(50% - 100%);

    width: 200%;
    height: 200%;

    content: '';
    pointer-events: none;

    opacity: 0;
    border-radius: 50%;
    background: currentColor;
  }

  &::after {
    transition: opacity 150ms linear;
  }

  &:hover::before {
    opacity: 0.04;
  }

  &:focus::before,
  &:active::after {
    transition-duration: 75ms;

    opacity: 0.12;
  }
}
