/* ========================================================================
     Component: Card
   ========================================================================== */
.fun-card {
  line-height: 1.5;

  width: 344px;

  text-overflow: ellipsis;
  word-break: break-word;

  border-radius: 8px;
  background: var(--fun-scheme-surface);

  .fun-card-header {
    padding: 15px 15px 5px;
  }

  .fun-card-content {
    padding: 10px 15px;
  }

  .fun-card-content:last-child {
    padding: 10px 15px 15px;
  }

  .fun-card-footer {
    padding: 5px 15px 5px;
  }
}

.fun-card-media {
  overflow: hidden;

  height: 194px;
}

.fun-card-action {
  display: block;
  overflow: hidden;

  cursor: pointer;
  user-select: none;
  transition: background-color 150ms linear;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  &::before,
  &::after {
    position: absolute;
    top: calc(50% - 100%);
    left: calc(50% - 100%);

    width: 200%;
    height: 200%;

    content: '';
    pointer-events: none;

    opacity: 0;
    border-radius: 50%;
    background: currentColor;
  }

  &::after {
    transition: opacity 150ms linear;
  }

  &:hover::before {
    opacity: 0.04;
  }

  &:focus::before,
  &:active::after {
    transition-duration: 75ms;

    opacity: 0.12;
  }
}
