/* ========================================================================
     Component: Base
   ========================================================================== */
.fu-dropdown {
  position: relative;

  summary {
    cursor: pointer;
    user-select: none;

    &::before,
    &::-webkit-details-marker {
      display: none;
    }
  }

  &:not([open]) > *:not(summary) {
    display: none;
  }

  &[open] > summary::before {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 80;
    cursor: default;
    content: ' ';
    background: transparent;
  }
}

.fu-dropdown-menu,
.fu-dropdown-menu-bottom-left {
  /* Layout */
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;

  /* Box model */
  box-sizing: border-box;
  padding: 4px;
  margin-top: 2px;
  min-width: 100%;
  box-shadow: 0 1px 4px -1px $box-shadow;

  /* Visual */
  background: $surface-light;
  /* @alternate */
  background: var(--fu-theme-surface, $surface-light);
}

/* Style modifiers
   ========================================================================== */

.fu-dropdown-menu-top {
  top: auto;
  bottom: 100%;
  left: 0;
  margin-bottom: 3px;

  &::before,
  &::after {
    top: auto;
    right: auto;
  }
}

.fu-dropdown-menu-bottom {
  right: 50%;
  left: auto;
  transform: translateX(50%);
}

.fu-dropdown-menu-bottom-right {
  right: 0;
  left: auto;
}

.fu-dropdown-menu-left {
  top: 0;
  right: 100%;
  left: auto;
  width: auto;
  margin-top: 0;
  margin-right: 8px;
}

.fu-dropdown-menu-right {
  top: 0;
  left: 100%;
  width: auto;
  margin-top: 0;
  margin-left: 8px;
}
