/* ========================================================================
     Component: Dropdown 
   ========================================================================== */
.fun-dropdown,
.fun-navbar-dropdown,
.fun-navbar-drawer {
  summary {
    cursor: pointer;
    user-select: none;

    &::before,
    &::-webkit-details-marker {
      display: none;
    }
  }

  &:not([open]) > *:not(summary) {
    display: none;
  }

  &[open] > summary::before {
    position: fixed;
    z-index: 80;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    content: ' ';
    cursor: default;

    background: transparent;
  }
}

.fun-dropdown-menu,
.fun-dropdown-menu-bottom-left {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;

  min-width: 100%;
  margin-top: 2px;
  padding: 4px;

  border-radius: 4px;
  background: var(--fun-scheme-surface);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

/* Style modifiers
   ========================================================================== */
.fun-dropdown-menu-top {
  top: auto;
  bottom: 100%;
  left: 0;

  margin-bottom: 3px;

  &::before,
  &::after {
    top: auto;
    right: auto;
  }
}

.fun-dropdown-menu-bottom {
  right: 50%;
  left: auto;

  transform: translateX(50%);
}

.fun-dropdown-menu-bottom-right {
  right: 0;
  left: auto;
}

.fun-dropdown-menu-left {
  top: 0;
  right: 100%;
  left: auto;

  width: auto;
  margin-top: 0;
  margin-right: 8px;
}

.fun-dropdown-menu-right {
  top: 0;
  left: 100%;

  width: auto;
  margin-top: 0;
  margin-left: 8px;
}
