/* ========================================================================
     Component: Dropdown 
   ========================================================================== */
.fu-dropdown,
.fu-navbar-dropdown,
.fu-navbar-drawer {
  summary {
    cursor: pointer;
    user-select: none;

    &::before,
    &::-webkit-details-marker {
      display: none;
    }
  }

  &:not([open]) > *:not(summary) {
    display: none;
  }

  &[open] > summary::before {
    position: fixed;
    z-index: 80;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: ' ';
    cursor: default;
    background: transparent;
  }
}

.fu-dropdown {
  position: relative;
}

.fu-dropdown-menu,
.fu-dropdown-menu-bottom-left {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  box-sizing: border-box;
  min-width: 100%;
  margin-top: 2px;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 4px -1px $default-dark;
}

/* Style modifiers
   ========================================================================== */
.fu-dropdown-menu-top {
  top: auto;
  bottom: 100%;
  left: 0;
  margin-bottom: 3px;

  &::before,
  &::after {
    top: auto;
    right: auto;
  }
}

.fu-dropdown-menu-bottom {
  right: 50%;
  left: auto;
  transform: translateX(50%);
}

.fu-dropdown-menu-bottom-right {
  right: 0;
  left: auto;
}

.fu-dropdown-menu-left {
  top: 0;
  right: 100%;
  left: auto;
  width: auto;
  margin-top: 0;
  margin-right: 8px;
}

.fu-dropdown-menu-right {
  top: 0;
  left: 100%;
  width: auto;
  margin-top: 0;
  margin-left: 8px;
}
