/* ========================================================================
     Component: Flex
   ========================================================================== */
.fun-flex {
  display: flex;
}

.fun-flex-inline {
  display: inline-flex;
}

/**
  * Remove the pseudo-element created by micro clearfix as a precaution
  */

.fun-flex {
  &::before,
  &::after {
    display: none;
  }
}

.fun-flex-inline {
  &::before,
  &::after {
    display: none;
  }
}

/* Direction
   ========================================================================== */
.fun-flex-row {
  flex-direction: row;
}

.fun-flex-row-reverse {
  flex-direction: row-reverse;
}

.fun-flex-column {
  flex-direction: column;
}

.fun-flex-column-reverse {
  flex-direction: column-reverse;
}

/* Wrap
   ========================================================================== */
.fun-flex-nowrap {
  flex-wrap: nowrap;
}

.fun-flex-wrap {
  flex-wrap: wrap;
}

.fun-flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* Alignments of main axis
   ========================================================================== */
.fun-main-start {
  justify-content: flex-start;
}

.fun-main-end {
  justify-content: flex-end;
}

.fun-main-center {
  justify-content: center;
}

.fun-main-between {
  justify-content: space-between;
}

.fun-main-around {
  justify-content: space-around;
}

/* Alignments of cross axis
   ========================================================================== */
.fun-cross-stretch {
  align-items: stretch;
}

.fun-cross-start {
  align-items: flex-start;
}

.fun-cross-end {
  align-items: flex-end;
}

.fun-cross-center {
  align-items: center;
}

/* Allocate child space
   ========================================================================== */
.fun-flex-auto {
  /* Ratio */
  flex: auto;
}

.fun-flex-none {
  /* Fit */
  flex: none;
}

.fun-flex-1 {
  /* Equal */
  flex: 1;
}
