/* ========================================================================
     Component: Form
   ========================================================================== */
.fu-button,
.fu-form {
  /* Layout */
  box-sizing: border-box;
  display: inline-flex;
  overflow: hidden;
  position: relative;

  /* Box model */
  border: none;
  border-radius: 4px;
  min-width: 64px;

  /* Text */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  &:disabled {
    cursor: default;
    pointer-events: none;

    color: $middle;
    background: $disabled-light;
    /* @alternate */
    background: var(--fu-theme-disabled, $disabled-light);
  }
}

.fu-form {
  /* Box model */
  height: 48px;
  width: 100%;
  max-width: 280px;
  padding: 0 16px;

  /* Visual */
  color: $on-surface-light;
  /* @alternate */
  color: var(--fu-theme-on-surface, $on-surface-light);
  background: $surface-light;
  /* @alternate */
  background: var(--fu-theme-surface, $surface-light);

  &:hover,
  &:focus {
    box-shadow: 0 1px 4px -1px $box-shadow;
  }

  &::placeholder {
    color: $middle;
  }
}

textarea.fu-form {
  /* Box model */
  padding: 16px;
  height: 96px;
  resize: none;
}

/* `.fu-checkbox`, `.fu-radio`, `.fu-range`
   ========================================================================== */
/**
  * Still in plan
  */

/* Form for file
   ========================================================================== */

.fu-form-file {
  display: inline-flex;

  input[type='file'] {
    display: none;
  }
}

/* Icon form
   ========================================================================== */

/**
  * 1. Container fits its content
  * 2. Create position context
  * 3. Prevent content overflow
  * 4. Behave like most inline-block elements
  */
.fu-icon-form {
  /* 1 */
  display: inline-block;
  /* 2 */
  position: relative;
  /* 3 */
  max-width: 100%;
  /* 4 */
  vertical-align: middle;
}

/**
  * 1. Set position
  * 2. Set width
  * 3. Center icon vertically and horizontally
  * 4. Style
  */

.fu-form-icon {
  /* 1 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  /* 2 */
  width: 48px;

  /* 3 */
  display: inline-flex;
  justify-content: center;
  align-items: center;

  /* 4 */
  color: $on-surface-light;
  /* @alternate */
  color: var(--fu-theme-on-surface, $on-surface-light);

  &:not(a):not(button):not(input) {
    pointer-events: none;
  }

  &:not([dir='rtl']) ~ .fu-form {
    position: initial;
    padding-left: 48px;
  }
}

[dir='rtl'] .fu-form-icon {
  right: 0;
  left: auto;

  ~ .fu-form {
    position: initial;
    padding-left: 16px;
    padding-right: 48px;
  }
}
