/* ========================================================================
     Component: Form
   ========================================================================== */
.fu-button,
.fu-form {
  /* Layout */
  box-sizing: border-box;
  display: inline-flex;
  overflow: hidden;
  position: relative;

  /* Box model */
  border: none;
  border-radius: 4px;
  min-width: 64px;

  /* Text */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  &:disabled {
    cursor: default;
    pointer-events: none;
    border-color: $default-dark;
    background: $default-dark;
  }
}

.fu-form {
  /* Box model */
  height: 48px;
  width: 100%;
  max-width: 280px;
  padding: 0 16px;
  border: 1px solid;

  /* Visual */
  color: $primary;
  border-color: $default-text;
  background: transparent;
}

.fu-form-underlined {
  border-radius: 0;
  border: transparent;
  border-bottom: 1px solid $default-text;
}

.fu-form-contained {
  border-color: $default;
  background: $default;
}

select.fu-form {
  color: $primary-light;
}

textarea.fu-form {
  /* Box model */
  padding: 16px;
  height: 96px;
  resize: none;
}

/* Form for file
   ========================================================================== */

.fu-form-file {
  display: inline-flex;

  input[type='file'] {
    display: none;
  }

  .fu-form {
    color: $primary-light;
  }
}

/* Icon form
   ========================================================================== */

/**
  * 1. Container fits its content
  * 2. Create position context
  * 3. Prevent content overflow
  * 4. Behave like most inline-block elements
  */
.fu-icon-form {
  /* 1 */
  display: inline-block;
  /* 2 */
  position: relative;
  /* 3 */
  max-width: 100%;
  /* 4 */
  vertical-align: middle;
}

/**
  * 1. Set position
  * 2. Set width
  * 3. Center icon vertically and horizontally
  * 4. Style
  */

.fu-form-icon {
  /* 1 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  /* 2 */
  width: 48px;

  /* 3 */
  display: inline-flex;
  justify-content: center;
  align-items: center;

  /* 4 */
  color: $primary-light;

  &:not(a):not(button):not(input) {
    pointer-events: none;
  }

  &:not([dir='rtl']) ~ .fu-form {
    position: initial;
    padding-left: 48px;
  }
}

[dir='rtl'] .fu-form-icon {
  right: 0;
  left: auto;

  ~ .fu-form {
    position: initial;
    padding-left: 16px;
    padding-right: 48px;
  }
}
