/* ========================================================================
     Component: Form
   ========================================================================== */
.fu-button,
.fu-form {
  /* Layout */
  box-sizing: border-box;
  display: inline-flex;
  overflow: hidden;
  position: relative;

  /* Box model */
  border: none;
  border-radius: 4px;
  height: 36px;
  min-width: 64px;

  /* Text */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  &:disabled {
    cursor: default;
    pointer-events: none;

    color: $middle-color;
    border-color: $disabled-color-light;
    /* @alternate */
    border-color: var(--theme-disabled-color, $disabled-color-light);
    background: $disabled-color-light;
    /* @alternate */
    background: var(--theme-disabled-color, $disabled-color-light);
  }
}

.fu-form {
  /* Box model */
  border: 1px solid;
  padding: 0 12px;

  &:not(:disabled) {
    color: $default-color;
    /* @alternate */
    color: var(--theme-default-color-primary, $default-color);
    border-color: $default-color;
    /* @alternate */
    border-color: var(--theme-default-color-primary, $default-color);
    background: $background-color-light;
    /* @alternate */
    background: var(--theme-background-color, $background-color-light);

    &::placeholder {
      color: inherit;
      opacity: 0.75;
    }
  }
}

textarea.fu-form {
  /* Box model */
  padding: 12px;
  height: 72px;
  resize: none;
}

.fu-form-fade {
  &:not(:disabled) {
    border-color: $surface-color-light;
    /* @alternate */
    border-color: var(--theme-surface-color, $surface-color-light);
    /* Visual */
    color: $on-surface-color-light;
    /* @alternate */
    color: var(--theme-on-surface-color, $on-surface-color-light);
    background: $surface-color-light;
    /* @alternate */
    background: var(--theme-surface-color, $surface-color-light);
    transition: background-color 75ms linear;
  }

  &:hover,
  &:focus {
    background: $variant-color-light;
    /* @alternate */
    background: var(--theme-variant-color, $variant-color-light);
  }
}

/* `.fu-checkbox`, `.fu-radio`, `.fu-range`
   ========================================================================== */
/**
  * Still in plan
  */

/* Form for file
   ========================================================================== */

.fu-form-file {
  display: inline-flex;

  input[type="file"] {
    display: none;
  }
}

/* Icon form
   ========================================================================== */

/**
  * 1. Container fits its content
  * 2. Create position context
  * 3. Prevent content overflow
  * 4. Behave like most inline-block elements
  */
.fu-icon-form {
  /* 1 */
  display: inline-block;
  /* 2 */
  position: relative;
  /* 3 */
  max-width: 100%;
  /* 4 */
  vertical-align: middle;
}

/**
  * 1. Set position
  * 2. Set width
  * 3. Center icon vertically and horizontally
  * 4. Style
  */

.fu-form-icon {
  /* 1 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  /* 2 */
  width: 36px;

  /* 3 */
  display: inline-flex;
  justify-content: center;
  align-items: center;

  /* 4 */
  color: $default-color;
  /* @alternate */
  color: var(--theme-default-color-primary, $default-color);

  &:not(a):not(button):not(input) {
    pointer-events: none;
  }

  &:not([dir="rtl"]) ~ .fu-form {
    position: initial;
    padding-left: 36px;
  }
}

[dir="rtl"] .fu-form-icon {
  right: 0;
  left: auto;

  ~ .fu-form {
    position: initial;
    padding-left: 12px;
    padding-right: 36px;
  }
}
