/* ========================================================================
     Component: Form
   ========================================================================== */
.fu-button,
.fu-form {
  position: relative;

  display: inline-flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  min-width: 64px;

  vertical-align: middle;
  text-decoration: none;

  border: none;
  border-radius: 4px;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}

.fu-form {
  width: 280px;
  max-width: 100%;
  height: 48px;
  padding: 0 16px;

  transition: all 75ms linear;

  &:not(:disabled) {
    color: currentColor;
    border-color: currentColor;
    background: inherit;
  }
}

select:disabled {
  background: #f5f5f5;
}

.fu-form-outlined.fu-form,
.fu-form-outlined .fu-form {
  border: 1px solid;

  &:focus {
    box-shadow: inset 0 0 0 0.5px currentColor;
  }
}

.fu-form-underlined.fu-form,
.fu-form-underlined .fu-form {
  border-bottom: 1px solid;
  border-radius: 0;

  &:focus {
    box-shadow: inset 0 -1px currentColor;
  }
}

.fu-form-contained.fu-form,
.fu-form-contained .fu-form {
  border: 1px solid $default;
  background: $default;

  @media (max-width: 959px) {
    box-shadow: 0 1px 4px -1px $default-dark;
  }
}

.fu-form-action.fu-form,
.fu-form-action .fu-form {
  border: 1px solid $default;
  background: $default;

  @media (max-width: 959px) {
    box-shadow: 0 1px 4px -1px $default-dark;
  }

  &:hover,
  &:focus {
    border: 1px solid;
    border-color: $default-text;
    background: inherit;
  }

  &:focus {
    box-shadow: inset 0 0 0 0.5px currentColor;
  }
}

textarea.fu-form {
  height: 96px;
  padding: 16px;

  resize: none;
}

/* Radio and Checkbox
   ========================================================================== */
.fu-form[type='radio'],
.fu-form[type='checkbox'] {
  width: 18px;
  height: 18px;

  border: none;

  &:focus {
    box-shadow: none;
  }

  @media (max-width: 959px) {
    box-shadow: none;
  }
}

/* Form for file
   ========================================================================== */
.fu-form-file {
  display: inline-flex;

  input[type='file'] {
    display: none;
  }

  .fu-form {
    color: $primary-light;
  }
}

/* Icon form
   ========================================================================== */
/*
 * 1. Container fits its content
 * 2. Create position context
 * 3. Prevent content overflow
 * 4. Behave like most inline-block elements
 * 5. Force hardware acceleration without creating a new stacking context
 *    to fix 1px glitch when combined with overlays and transitions in Webkit
 * 6. Clip child elements
 */

.fu-icon-form {
  position: relative;

  display: inline-block;

  max-width: 100%;

  vertical-align: middle;

  backface-visibility: hidden;

  .fu-form {
    min-width: 100%;
  }
}

/*
 * 1. Set position
 * 2. Set width
 * 3. Center icon vertically and horizontally
 */

.fu-form-icon {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 40px;

  &:not(a):not(button):not(input) {
    pointer-events: none;
  }
}

:not(.fu-form-reverse).fu-icon-form,
:not(.fu-form-reverse) .fu-icon-form {
  .fu-form {
    padding-left: 40px;

    appearance: none;
  }
}

.fu-form-reverse.fu-icon-form,
.fu-form-reverse .fu-icon-form {
  .fu-form-icon {
    right: 0;
    left: auto;
  }

  .fu-form {
    padding-right: 40px;
    padding-left: 16px;

    appearance: none;
  }
}
