/* ========================================================================
     Component: Grid
   ========================================================================== */
.fun-grid {
  display: grid;
}

.fun-grid-inline {
  display: inline-grid;
}

/* Row and column spacing
   ========================================================================== */

@each $grid, $spacing in $grid-spacings {
  .fun-grid-row-#{$grid} > * {
    margin-right: #{$spacing};
    margin-left: #{$spacing};
  }

  .fun-grid-column-#{$grid} > * {
    margin-top: #{$spacing};
    margin-bottom: #{$spacing};
  }
}

/* Grid template
   ========================================================================== */

@for $number from 2 through 6 {
  .fun-grid-row-#{$number} {
    grid-template-rows: repeat(#{$number}, 1fr);
  }

  .fun-grid-column-#{$number} {
    grid-template-columns: repeat(#{$number}, 1fr);
  }
}
