/* ========================================================================
     Component: Height
   ========================================================================== */
[class*='fu-height'] {
  box-sizing: border-box;
}

.fu-height-1-1 {
  height: 100%;
}

.fu-height-viewport {
  height: 100vh;
}

@each $height, $spacing in $heights {
  .fu-height-#{$height} {
    height: $spacing;
  }

  .fu-height-max-#{$height} {
    max-height: $spacing;
  }
}
