/* ========================================================================
     Component: Height
   ========================================================================== */
[class*='fun-height'] {
  box-sizing: border-box;
}

.fun-height-1-1 {
  height: 100%;
}

.fun-height-viewport {
  height: 100vh;
}
@each $height, $spacing in $heights {
  .fun-height-#{$height} {
    height: $spacing;
  }

  .fun-height-max-#{$height} {
    max-height: $spacing;
  }
}
