/* ========================================================================
     Component: Markdown
   ========================================================================== */
.fun-markdown-body {
  line-height: 1.5;

  kbd {
    font: 11px 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace;
    line-height: 10px;

    display: inline-block;

    padding: 3px 5px;

    vertical-align: middle;

    color: #444d56;
    border: solid 1px #d1d5da;
    border-bottom-color: #d1d5da;
    border-radius: 6px;
    background-color: #fafbfc;
    box-shadow: inset 0 -1px 0 #d1d5da;
  }

  &::before {
    display: table;

    content: '';
  }

  &::after {
    display: table;
    clear: both;

    content: '';
  }

  > * {
    &:first-child {
      margin-top: 0 !important;
    }

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  a:not([href]) {
    text-decoration: none;

    color: inherit;
  }

  .absent {
    color: #cb2431;
  }

  .anchor {
    line-height: 1;

    float: left;

    margin-left: -20px;
    padding-right: 4px;

    &:focus {
      outline: none;
    }
  }

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  pre,
  details {
    margin-top: 0;
    margin-bottom: 16px;
  }

  hr {
    height: 0.25em;
    margin: 24px 0;
    padding: 0;

    border: 0;
    background-color: #e1e4e8;
  }

  blockquote {
    padding: 0 1em;

    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;

    > {
      :first-child {
        margin-top: 0;
      }

      :last-child {
        margin-bottom: 0;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    line-height: 1.25;

    margin-top: 24px;
    margin-bottom: 16px;
  }

  h1 .octicon-link,
  h2 .octicon-link,
  h3 .octicon-link,
  h4 .octicon-link,
  h5 .octicon-link,
  h6 .octicon-link {
    visibility: hidden;

    vertical-align: middle;

    color: #1b1f23;
  }

  h1:hover .anchor,
  h2:hover .anchor,
  h3:hover .anchor,
  h4:hover .anchor,
  h5:hover .anchor,
  h6:hover .anchor {
    text-decoration: none;
  }

  h1:hover .anchor .octicon-link,
  h2:hover .anchor .octicon-link,
  h3:hover .anchor .octicon-link,
  h4:hover .anchor .octicon-link,
  h5:hover .anchor .octicon-link,
  h6:hover .anchor .octicon-link {
    visibility: visible;
  }

  h1 {
    tt,
    code {
      font-size: inherit;
    }
  }

  h2 {
    tt,
    code {
      font-size: inherit;
    }
  }

  h3 {
    tt,
    code {
      font-size: inherit;
    }
  }

  h4 {
    tt,
    code {
      font-size: inherit;
    }
  }

  h5 {
    tt,
    code {
      font-size: inherit;
    }
  }

  h6 {
    tt,
    code {
      font-size: inherit;
    }
  }

  h1 {
    font-size: 2em;

    padding-bottom: 0.3em;

    border-bottom: 1px solid #eaecef;
  }

  h2 {
    font-size: 1.5em;

    padding-bottom: 0.3em;

    border-bottom: 1px solid #eaecef;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.85em;

    color: #6a737d;
  }

  ul,
  ol {
    padding-left: 2em;
  }

  ul.no-list,
  ol.no-list {
    padding: 0;

    list-style-type: none;
  }

  ul {
    ul,
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  ol {
    ol,
    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  li {
    word-wrap: break-all;

    > p {
      margin-top: 16px;
    }

    + li {
      margin-top: 0.25em;
    }
  }

  dl {
    padding: 0;

    dt {
      font-size: 1em;
      font-weight: 600;
      font-style: italic;

      margin-top: 16px;
      padding: 0;
    }

    dd {
      margin-bottom: 16px;
      padding: 0 16px;
    }
  }

  table {
    display: block;
    overflow: auto;

    width: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;

    th {
      font-weight: 600;

      padding: 6px 13px;

      border: 1px solid #dfe2e5;
    }

    td {
      padding: 6px 13px;

      border: 1px solid #dfe2e5;
    }

    tr {
      border-top: 1px solid #c6cbd1;
      background-color: #fff;

      &:nth-child(2n) {
        background-color: #f6f8fa;
      }
    }

    img {
      background-color: transparent;
    }
  }

  img {
    box-sizing: content-box;
    max-width: 100%;

    background-color: #fff;

    &[align='right'] {
      padding-left: 20px;
    }

    &[align='left'] {
      padding-right: 20px;
    }
  }

  .emoji {
    max-width: none;

    vertical-align: text-top;

    background-color: transparent;
  }

  span {
    &.frame {
      display: block;
      overflow: hidden;

      > span {
        display: block;
        float: left;
        overflow: hidden;

        width: auto;
        margin: 13px 0 0;
        padding: 7px;

        border: 1px solid #dfe2e5;
      }

      span {
        img {
          display: block;
          float: left;
        }

        span {
          display: block;
          clear: both;

          padding: 5px 0 0;

          color: #24292e;
        }
      }
    }

    &.align-center {
      display: block;
      clear: both;
      overflow: hidden;

      > span {
        display: block;
        overflow: hidden;

        margin: 13px auto 0;

        text-align: center;
      }

      span img {
        margin: 0 auto;

        text-align: center;
      }
    }

    &.align-right {
      display: block;
      clear: both;
      overflow: hidden;

      > span {
        display: block;
        overflow: hidden;

        margin: 13px 0 0;

        text-align: right;
      }

      span img {
        margin: 0;

        text-align: right;
      }
    }

    &.float-left {
      display: block;
      float: left;
      overflow: hidden;

      margin-right: 13px;

      span {
        margin: 13px 0 0;
      }
    }

    &.float-right {
      display: block;
      float: right;
      overflow: hidden;

      margin-left: 13px;

      > span {
        display: block;
        overflow: hidden;

        margin: 13px auto 0;

        text-align: right;
      }
    }
  }

  code,
  tt {
    font-size: 85%;

    margin: 0;
    padding: 0.2em 0.4em;

    border-radius: 6px;
    background-color: rgba(27, 31, 35, 0.05);
  }

  code br,
  tt br {
    display: none;
  }

  del code {
    text-decoration: inherit;
  }

  pre {
    word-wrap: normal;

    > code {
      font-size: 100%;

      margin: 0;
      padding: 0;

      white-space: pre;
      word-break: normal;

      border: 0;
      background: transparent;
    }
  }

  .highlight {
    margin-bottom: 16px;

    pre {
      font-size: 85%;
      line-height: 1.45;

      overflow: auto;

      margin-bottom: 0;
      padding: 16px;

      word-break: normal;

      border-radius: 6px;
      background-color: #f6f8fa;
    }
  }

  pre {
    font-size: 85%;
    line-height: 1.45;

    overflow: auto;

    padding: 16px;

    border-radius: 6px;
    background-color: #f6f8fa;

    code,
    tt {
      line-height: inherit;

      display: inline;
      overflow: visible;

      max-width: auto;
      margin: 0;
      padding: 0;

      word-wrap: normal;

      border: 0;
      background-color: transparent;
    }
  }
}
