/* ========================================================================
     Component: Markdown
   ========================================================================== */
.fu-menu,
.fu-dropdown-menu,
.fu-navbar-dropdown > :not(summary) {
  overflow: hidden;

  background: $default-light;

  li {
    list-style: none;
  }
}

.fu-menu-header {
  font-size: large;

  display: block;

  padding: 4px 16px;
}

.fu-menu-item {
  display: block;

  padding: 4px 16px;

  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;

  color: $default-text;

  &:hover,
  &:focus {
    color: $primary-text;
    background: $primary;
  }
}
