/* ========================================================================
     Component: Markdown
   ========================================================================== */
.fu-menu,
.fu-dropdown-menu {
  /* Layout */
  overflow: hidden;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

.fu-menu-header {
  display: block;
  padding: 4px 16px;
  color: $middle;
}

.fu-menu-item {
  /* Layout */
  display: block;

  /* Box model */
  padding: 4px 16px;

  /* Text */
  text-overflow: ellipsis;
  white-space: nowrap;

  /* Visual */
  color: $on-surface-light;
  /* @alternate */
  color: var(--fu-theme-on-surface, $on-surface-light);

  &:hover,
  &:focus {
    /* Visual */
    color: $on-surface-dark;
    background: $default-light;
    /* @alternate */
    background: var(--fu-theme-default-variant, $default-light);
  }
}
