/* ========================================================================
     Component: Markdown
   ========================================================================== */
.fu-menu,
.fu-dropdown-menu {
  /* Layout */
  overflow: hidden;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

.fu-menu-header {
  display: block;
  padding: 4px 16px;
  color: $middle-color;
}

.fu-menu-item {
  /* Layout */
  display: block;

  /* Box model */
  padding: 4px 16px;

  /* Text */
  text-overflow: ellipsis;
  white-space: nowrap;

  /* Visual */
  color: $on-surface-color-light;
  /* @alternate */
  color: var(--theme-on-surface-color, $on-surface-color-light);

  &:hover,
  &:focus {
    /* Visual */
    color: $on-surface-color-dark;
    background: $default-color;
    /* @alternate */
    background: var(--theme-default-color-primary, $default-color);
  }
}
