/* ========================================================================
     Component: Navbar
   ========================================================================== */
.fun-navbar-top,
.fun-navbar-bottom {
  line-height: 48px;

  position: sticky;
  z-index: 998;

  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;

  height: 48px;

  user-select: none;
  white-space: nowrap;

  background: $default-light;
}

.fun-navbar-top {
  top: 0;

  padding: 0 8px;

  box-shadow: 0 1px 4px -1px $default-dark;
}

.fun-navbar-container {
  display: inline-flex;
  align-items: center;
  flex: auto;

  > * {
    margin: 0 8px;
  }
}

.fun-navbar-bottom {
  bottom: 0;

  padding: 16px;

  box-shadow: 0 -1px 4px -1px $default-dark;
}

.fun-navbar-dropdown > :not(summary) {
  line-height: 1.5;

  position: absolute;
  z-index: 998;
  top: 100%;
  left: 0;

  box-sizing: border-box;
  width: 100%;

  border-radius: 4px;
  background: $default-light;
  box-shadow: 0 1px 4px -1px $default-dark;
}

.fun-navbar-drawer > :not(summary) {
  line-height: 1.5;

  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  overflow-y: auto;

  box-sizing: border-box;
  width: 300px;
  height: 100%;

  background: $default-light;
  box-shadow: 1px 0 4px -1px $default-dark;
}

.fun-navbar-drawer-reverse > :not(summary) {
  right: 0;
  left: auto;
}
