/* ========================================================================
     Component: Nav
   ========================================================================== */
.fu-navbar-top,
.fu-navbar-bottom {
  /* Layout */
  display: flex;
  position: sticky;
  z-index: 999;

  /* Text */
  align-items: center;
  flex-wrap: wrap;
  white-space: nowrap;
}

.fu-navbar-top {
  top: 0;
  box-shadow: 0 1px 4px -1px $default-dark;
  background: $default-light;
  padding: 0 16px;
}

.fu-navbar-bottom {
  bottom: 0;
  box-shadow: 0 -1px 4px -1px $default-dark;
  background: $default-light;
  padding: 16px;
}

.fu-navbar-item {
  /* Layout */
  display: inline-block;
  align-self: stretch;
  align-items: center;
  flex-wrap: nowrap;

  /* Box model */
  margin-right: 16px;
  padding: 16px 0;
  height: 100%;
}

.fu-navbar-link::after {
  border: none;
}
