/* ========================================================================
     Component: Nav
   ========================================================================== */
.fu-navbar {
  /* Layout */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  white-space: nowrap;
  z-index: 999;

  /* Box model */
  padding: 0 16px;
  box-shadow: 0 1px 4px -1px $default-dark;

  /* Text */
  font-size: 14px;

  /* Visual */
  background: $default-light;
}

.fu-navbar-item {
  /* Layout */
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  flex-wrap: nowrap;

  /* Box model */
  margin-right: 16px;
  padding: 16px 0;
  height: 100%;
}

.fu-navbar-link::after {
  border: none;
}
