/* ========================================================================
     Component: Nav
   ========================================================================== */
.fu-navbar {
  /* Layout */
  display: flex;
  z-index: 999;
  align-items: center;
  flex-wrap: wrap;

  /* Box model */
  padding: 16px;
  box-shadow: 0 1px 6px -1px $box-shadow;

  /* Text */
  font-size: 14px;

  /* Visual */
  background: $background-light;
  /* @alternate */
  background: var(--fu-theme-background, $background-light);

  a {
    text-decoration: none;
  }
}

.fu-navbar-item {
  /* Layout */
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  flex-wrap: nowrap;

  /* Box model */
  margin-right: 16px;
}

.fu-navbar-link {
  white-space: nowrap;
  font-weight: 600;
  color: $on-surface-light;
  color: var(--fu-theme-on-surface, $on-surface-light);

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
