/* ========================================================================
     Component: Navbar
   ========================================================================== */
.fu-navbar-top,
.fu-navbar-bottom {
  line-height: 100%;

  position: sticky;
  z-index: 998;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  white-space: nowrap;

  background: $default-light;
}

.fu-navbar-top {
  top: 0;

  padding: 0 16px;

  box-shadow: 0 1px 4px -1px $default-dark;
}

.fu-navbar-bottom {
  bottom: 0;

  padding: 16px;

  box-shadow: 0 -1px 4px -1px $default-dark;
}

.fu-navbar-item {
  display: inline-block;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;

  height: 100%;
  margin-right: 16px;
  padding: 16px 0;
}

.fu-navbar-link::after {
  border: none;
}

.fu-navbar-dropdown,
.fu-navbar-drawer {
  line-height: 1.5;
}

.fu-navbar-dropdown > :not(summary) {
  position: absolute;
  z-index: 998;
  top: 100%;
  left: 0;

  box-sizing: border-box;
  min-width: 100%;

  border-radius: 4px;
  background: $default-light;
  box-shadow: 0 1px 4px -1px $default-dark;
}

.fu-navbar-drawer > :not(summary) {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  overflow-y: auto;

  box-sizing: border-box;
  min-width: 300px;
  height: 100%;

  background: $default-light;
  box-shadow: 1px 0 4px -1px $default-dark;
}

.fu-navbar-drawer-reverse > :not(summary) {
  right: 0;
  left: auto;
}
