/* ========================================================================
     Component: padding
   ========================================================================== */
@each $padding, $length in $padding-spacings {
  .fu-padding-#{$padding} {
    padding: #{$length};
  }

  .fu-padding-top-#{$padding} {
    padding-top: #{$length};
  }

  .fu-padding-left-#{$padding} {
    padding-left: #{$length};
  }

  .fu-padding-bottom-#{$padding} {
    padding-bottom: #{$length};
  }

  .fu-padding-right-#{$padding} {
    padding-right: #{$length};
  }

  .fu-padding-horizontal-#{$padding} {
    padding-right: #{$length};
    padding-left: #{$length};
  }

  .fu-padding-vertical-#{$padding} {
    padding-top: #{$length};
    padding-bottom: #{$length};
  }
}

@each $length in 20px {
  .fu-padding-auto {
    padding: #{$length};
  }

  .fu-padding-top-auto {
    padding-top: #{$length};
  }

  .fu-padding-left-auto {
    padding-left: #{$length};
  }

  .fu-padding-bottom-auto {
    padding-bottom: #{$length};
  }

  .fu-padding-right-auto {
    padding-right: #{$length};
  }

  .fu-padding-horizontal-auto {
    padding-right: #{$length};
    padding-left: #{$length};
  }

  .fu-padding-vertical-auto {
    padding-top: #{$length};
    padding-bottom: #{$length};
  }
}

@each $width in (960px, 1200px) {
  @each $length in (40px, 70px) {
    @media (min-width: #{$width}) {
      .fu-padding-auto {
        padding: #{$length};
      }

      .fu-padding-top-auto {
        padding-top: #{$length};
      }

      .fu-padding-left-auto {
        padding-left: #{$length};
      }

      .fu-padding-bottom-auto {
        padding-bottom: #{$length};
      }

      .fu-padding-right-auto {
        padding-right: #{$length};
      }

      .fu-padding-horizontal-auto {
        padding-right: #{$length};
        padding-left: #{$length};
      }

      .fu-padding-vertical-auto {
        padding-top: #{$length};
        padding-bottom: #{$length};
      }
    }
  }
}
