/* ========================================================================
     Component: padding
   ========================================================================== */
@each $padding, $length in $padding-spacings {
  .fun-padding-#{$padding} {
    padding: #{$length};
  }

  .fun-padding-top-#{$padding} {
    padding-top: #{$length};
  }

  .fun-padding-left-#{$padding} {
    padding-left: #{$length};
  }

  .fun-padding-bottom-#{$padding} {
    padding-bottom: #{$length};
  }

  .fun-padding-right-#{$padding} {
    padding-right: #{$length};
  }

  .fun-padding-horizontal-#{$padding} {
    padding-right: #{$length};
    padding-left: #{$length};
  }

  .fun-padding-vertical-#{$padding} {
    padding-top: #{$length};
    padding-bottom: #{$length};
  }
}

@each $length in 20px {
  .fun-padding-auto {
    padding: #{$length};
  }

  .fun-padding-top-auto {
    padding-top: #{$length};
  }

  .fun-padding-left-auto {
    padding-left: #{$length};
  }

  .fun-padding-bottom-auto {
    padding-bottom: #{$length};
  }

  .fun-padding-right-auto {
    padding-right: #{$length};
  }

  .fun-padding-horizontal-auto {
    padding-right: #{$length};
    padding-left: #{$length};
  }

  .fun-padding-vertical-auto {
    padding-top: #{$length};
    padding-bottom: #{$length};
  }
}

@each $width, $length in (960px, 40px), (1200px, 70px) {
  @media (min-width: #{$width}) {
    .fun-padding-auto {
      padding: #{$length};
    }

    .fun-padding-top-auto {
      padding-top: #{$length};
    }

    .fun-padding-left-auto {
      padding-left: #{$length};
    }

    .fun-padding-bottom-auto {
      padding-bottom: #{$length};
    }

    .fun-padding-right-auto {
      padding-right: #{$length};
    }

    .fun-padding-horizontal-auto {
      padding-right: #{$length};
      padding-left: #{$length};
    }

    .fun-padding-vertical-auto {
      padding-top: #{$length};
      padding-bottom: #{$length};
    }
  }
}
