.fun-pagination {
  a,
  span,
  em {
    font-style: normal;
    line-height: 32px;

    position: relative;

    display: inline-block;
    overflow: hidden;

    min-width: 32px;

    cursor: pointer;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    border-radius: 4px;
  }

  a:not(.gap),
  span:not(.gap),
  em:not(.gap) {
    border: 1px solid var(--fun-theme-surface);

    &:active {
      transition: none;
    }

    &::before,
    &::after {
      position: absolute;

      content: '';
      pointer-events: none;

      opacity: 0;
      border-radius: 50%;
    }

    &::before {
      z-index: 1;

      transition: opacity 15ms linear, background-color 15ms linear;
    }

    &::before,
    &::after {
      top: calc(50% - 100%);
      /* @noflip */
      left: calc(50% - 100%);

      width: 200%;
      height: 200%;
    }

    &::before,
    &::after {
      background-color: currentColor;
    }

    &:hover::before {
      opacity: 0.04;
    }

    &:focus::before {
      transition-duration: 75ms;

      opacity: 0.12;
    }

    &::after {
      transition: opacity 150ms linear;
    }

    &:active::after {
      transition-duration: 75ms;

      opacity: 0.12;
    }
  }

  .previous_page,
  .next_page {
    padding: 0 10px;
  }

  .gap,
  .gap:hover {
    cursor: default;

    color: #6a737d;
  }
}
