/* ========================================================================
   Component: Position
   ========================================================================== */
/* Directions
   ========================================================================== */
/**
  * 1. Prevent content overflow if `max-width: 100%` is used inside position container.
  */

[class*='fun-position-top'],
[class*='fun-position-right'],
[class*='fun-position-bottom'],
[class*='fun-position-left'],
[class*='fun-position-center'] {
  position: absolute;
  /* 1 */

  max-width: 100%;
}

/* Edges
   ========================================================================== */
/* Don't use `width: 100%` because it is wrong if the parent has padding. */

.fun-position-top {
  top: 0;
  right: 0;
  left: 0;
}

.fun-position-right {
  top: 0;
  right: 0;
  bottom: 0;
}

.fun-position-bottom {
  right: 0;
  bottom: 0;
  left: 0;
}

.fun-position-left {
  top: 0;
  bottom: 0;
  left: 0;
}

/**
  * Center
  * 1. Fix text wrapping if content is larger than 50% of the container.
  */

.fun-position-center {
  top: 50%;
  left: 50%;
  /* 1 */

  width: max-content;
  max-width: 100%;

  transform: translate(-50%, -50%);
}

/* Corners
   ========================================================================== */
.fun-position-top-left {
  top: 0;
  left: 0;
}

.fun-position-top-right {
  top: 0;
  right: 0;
}

.fun-position-bottom-left {
  bottom: 0;
  left: 0;
}

.fun-position-bottom-right {
  right: 0;
  bottom: 0;
}

/* Vertical */

[class*='fun-position-center-left'],
[class*='fun-position-center-right'] {
  top: 50%;

  transform: translateY(-50%);
}

.fun-position-center-left {
  left: 0;
}

.fun-position-center-right {
  right: 0;
}

/* Horizontal */

.fun-position-top-center,
.fun-position-bottom-center {
  left: 50%;
  /* 1 */

  width: max-content;
  max-width: 100%;

  transform: translateX(-50%);
}

.fun-position-top-center {
  top: 0;
}

.fun-position-bottom-center {
  bottom: 0;
}

/* Cover
   ========================================================================== */
.fun-position-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Utility
   ========================================================================== */
.fun-position-relative {
  position: relative;
}

.fun-position-absolute {
  position: absolute;
}

.fun-position-fixed {
  position: fixed;
}

.fun-position-sticky {
  position: sticky;
  top: 0;
}

.fun-position-z-index {
  z-index: 1;
}
