/* ========================================================================
   Component: Progress
   ========================================================================== */
.fun-progress {
  width: 100%;
  height: 4px;

  appearance: none;

  &::-webkit-progress-bar {
    background: $default-light;
  }

  &::-webkit-progress-value {
    background: $default-dark;
  }
}

.fun-progress-secondary {
  &::-webkit-progress-bar {
    background: $secondary-light;
  }

  &::-webkit-progress-value {
    background: $secondary-dark;
  }
}

.fun-progress-warning {
  &::-webkit-progress-bar {
    background: $warning-light;
  }

  &::-webkit-progress-value {
    background: $warning-dark;
  }
}

.fun-progress-danger {
  &::-webkit-progress-bar {
    background: $danger-light;
  }

  &::-webkit-progress-value {
    background: $danger-dark;
  }
}

.fun-progress-success {
  &::-webkit-progress-bar {
    background: $success-light;
  }

  &::-webkit-progress-value {
    background: $success-dark;
  }
}
