/* ========================================================================
   Component: Progress
   ========================================================================== */
.fu-progress {
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  height: 4px;

  &::-webkit-progress-bar {
    background: $surface-variant-light;
    /* @alternate */
    background: var(--fu-theme-surface-variant, $surface-variant-light);
  }
  &::-webkit-progress-value {
    background: $on-surface-light;
    /* @alternate */
    background: var(--fu-theme-on-surface, $on-surface-light);
  }
}
