/* ========================================================================
   Component: Progress
   ========================================================================== */
.fu-progress {
  box-sizing: border-box;
  width: 100%;
  height: 4px;

  appearance: none;

  &::-webkit-progress-bar {
    background: $default-dark;
  }

  &::-webkit-progress-value {
    background: $default-text;
  }
}
