/* ========================================================================
     Component: Text
   ========================================================================== */
/* Link
   ========================================================================== */
a {
  text-decoration: inherit;

  color: inherit;
}

.fun-text-linked,
.fun-text-link {
  width: fit-content;

  text-decoration: none;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    height: 100%;

    content: '';
    transition: 150ms all linear;

    border-bottom: 2px solid currentColor;
  }

  &:hover::before {
    top: 0;
    right: 0;

    width: 100%;

    transition-delay: 75ms;
  }
}

.fun-text-linked {
  &::after {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    transition: 150ms all linear;

    border-bottom: 1px solid currentColor;
  }
}

/* Text color
   ========================================================================== */
.fun-text-default {
  color: $default-text;
}

.fun-text-muted {
  color: $default-light;
}

.fun-text-primary {
  color: $primary-text;
}

.fun-text-secondary {
  color: $secondary;
}

.fun-text-warning {
  color: $warning;
}

.fun-text-success {
  color: $success;
}

/* Title
   ========================================================================== */
.fun-text-title {
  font-size: 1.25rem;
  font-weight: 500;

  letter-spacing: 0.0125em;
}

.fun-text-subtitle {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.375rem;

  letter-spacing: 0.0071428571em;
}

/* Text alignment
   ========================================================================== */
.fun-text-start {
  text-align: left;
}

[dir='rtl'] .fun-text-start {
  text-align: right;
}

.fun-text-end {
  text-align: right;
}

[dir='rtl'] .fun-text-end {
  text-align: left;
}

.fun-text-center {
  text-align: center;
}

.fun-text-justify {
  text-align: justify;
}

.fun-text-justify-all {
  text-align: justify-all;
}

/* Text transform
   ========================================================================== */
.fun-text-capitalize {
  text-transform: capitalize;
}

.fun-text-uppercase {
  text-transform: uppercase;
}

.fun-text-lowercase {
  text-transform: lowercase;
}

/* Text size
   ========================================================================== */
.fun-text-xxsmall {
  font-size: xx-small;
}

.fun-text-xsmall {
  font-size: x-small;
}

.fun-text-small {
  font-size: small;
}

.fun-text-medium {
  font-size: medium;
}

.fun-text-large {
  font-size: large;
}

.fun-text-xlarge {
  font-size: x-large;
}

.fun-text-xxlarge {
  font-size: xx-large;
}

.fun-text-smaller {
  font-size: smaller;
}

.fun-text-larger {
  font-size: larger;
}

/* Text weight
   ========================================================================== */
.fun-text-light {
  font-weight: 300;
}

.fun-text-normal {
  font-weight: normal;
}

.fun-text-bold {
  font-weight: bold;
}

.fun-text-lighter {
  font-weight: lighter;
}

.fun-text-bolder {
  font-weight: bolder;
}

/* Text wrap
   ========================================================================== */
.fun-text-nowrap {
  word-break: keep-all;
}

.fun-text-break-all {
  word-break: break-all;
}

.fun-text-break-word {
  word-break: break-word;
}
