/* ========================================================================
     Component: Utility
   ========================================================================== */
/* Border
   ========================================================================== */
[class*='fu-border'] {
  box-sizing: border-box;
}

/** 
  * Border radius
  */

.fu-border-small {
  border-radius: 4px;
}

.fu-border-large {
  border-radius: 6px;
}

.fu-border-pill {
  border-radius: 500px;
}

.fu-border-circle {
  border-radius: 50%;
}

/* Background color
   ========================================================================== */
.fu-background-transparent {
  background: transparent;
}

/* Float
   ========================================================================== */
.fu-float-start {
  float: inline-start;
}

.fu-float-end {
  float: inline-end;
}

.fu-float-none {
  float: none;
}

/* Overflow
   ========================================================================== */
.fu-overflow-hidden {
  overflow: hidden;
}

.fu-overflow-x-scroll {
  overflow-x: scroll;
}

.fu-overflow-y-scroll {
  overflow-y: scroll;
}
