/* ========================================================================
     Component: Utility
   ========================================================================== */
/* Border
   ========================================================================== */
[class*="fu-border"] {
  box-sizing: border-box;
}

/** 
  * Border radius
  */

.fu-border-small {
  border-radius: 4px;
}

.fu-border-large {
  border-radius: 6px;
}

.fu-border-pill {
  border-radius: 500px;
}

.fu-border-circle {
  border-radius: 50%;
}

/* Box shadow
   ========================================================================== */

.fu-shadow-none {
  box-shadow: none;
}

.fu-shadow-small {
  box-shadow: 0 1px 2px $box-shadow-color;
}

.fu-shadow-medium {
  box-shadow: 0 1px 4px $box-shadow-color;
}

.fu-shadow-large {
  box-shadow: 0 1px 6px $box-shadow-color;
}

/* Background color
   ========================================================================== */

.fu-background-surface {
  color: $on-surface-color-light;
  /* @alternate */
  color: var(--theme-on-surface-color, $on-surface-color-light);
  background: $surface-color-light;
  background: var(--theme-surface-color, $surface-color-light);
}

.fu-background-transparent {
  background: transparent;
}

/* Float
   ========================================================================== */

.fu-float-start {
  float: inline-start;
}

.fu-float-end {
  float: inline-end;
}

.fu-float-none {
  float: none;
}

/* Overflow
   ========================================================================== */

.fu-overflow-hidden {
  overflow: hidden;
}

.fu-overflow-x-scroll {
  overflow-x: scroll;
}

.fu-overflow-y-scroll {
  overflow-y: scroll;
}
