/* ========================================================================
     Component: Visibility
   ========================================================================== */
[hidden],
.fun-hidden {
  display: none;
}

.fun-invisible {
  visibility: hidden;
}

.fun-visible {
  visibility: visible;
}

/* Responsive visibility
   ========================================================================== */
@each $breakpoint, $width in $breakpoints {
  @media (min-width: #{$width}) {
    .fun-hidden#{$breakpoint} {
      display: none;
    }
  }
}

@each $breakpoint, $width in $breakpoints {
  @media (max-width: #{$width - 1px}) {
    .fun-visible#{$breakpoint} {
      display: none;
    }
  }
}

/* Touch
   ========================================================================== */
.fun-hidden-touch {
  display: block;
}

@media (pointer: coarse) {
  .fun-hidden-touch {
    display: none;
  }
}

.fun-hidden-notouch {
  display: none;
}

@media (pointer: coarse) {
  .fun-hidden-notouch {
    display: block;
  }
}
