/* ========================================================================
     Component: Base
   ========================================================================== */
/* Universal style
   ========================================================================== */
/**
  * 1.Remove the outline on all elements when they are active or hovered
  * 2.Make the tap highlight color of all elements in Webkit browser transparent
  */

* {
  outline: none;

  position: relative;

  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

:disabled {
  cursor: default;
  pointer-events: none;
}

:root {
  --fun-scheme-bg: #fff;
  --fun-scheme-surface: #f7f7f7;
  --fun-scheme-text: #333;
  --fun-theme-bg: #212121;
  --fun-theme-surface: #424242;
  --fun-theme-text: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fun-scheme-bg: #191919;
    --fun-scheme-surface: #202020;
    --fun-scheme-text: rgba(255, 255, 255, 0.6);
    --fun-theme-bg: #333;
    --fun-theme-surface: #515151;
    --fun-theme-text: #fff;
  }
}

/* Element modifiers
   ========================================================================== */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 16px;
  line-height: 1.25;

  overflow-y: scroll;

  word-wrap: break-word;

  color: var(--fun-scheme-text);
  background: var(--fun-scheme-bg);
}

hr {
  height: 0.15em;
  padding: 0;

  border: none;
  background: #e1e4e8;

  @media (prefers-color-scheme: dark) {
    background: #777a7d;
  }
}
