/* Color modifiers
   ========================================================================== */
/* Default */
$default: #fafafa;
$default-light: #fff;
$default-dark: #c7c7c7;
$default-text: #000;

/* Primary */
$primary: #212121;
$primary-light: #484848;
$primary-dark: #000;
$primary-text: #fff;

/* Secondary */
$secondary: #0366d6;
$secondary-light: #6093ff;
$secondary-dark: #003da4;

/* Warning */
$warning: #d73a49;
$warning-light: #ff6f74;
$warning-dark: #9f0022;

/* Success */
$success: #28a745;
$success-light: #64da73;
$success-dark: #007717;

/* Breakpoints
   ========================================================================== */
$breakpoints: (\@s: 640px, \@m: 960px, \@l: 1200px, \@xl: 1600px) !default;
$margin-spacings: (
  small: 10px,
  medium: 20px,
  large: 40px,
  xlarge: 70px,
  auto: auto,
  remove: 0
) !default;
$padding-spacings: (
  small: 10px,
  medium: 20px,
  large: 40px,
  xlarge: 70px,
  remove: 0
) !default;
$grid-spacings: (
  xsmall: 5px,
  small: 10px,
  medium: 20px,
  large: 35px,
  xlarge: 60px,
  remove: 0
) !default;
$heights: (
  xsmall: 150px,
  small: 300px,
  medium: 450px,
  large: 600px,
  xlarge: 750px
) !default;
$widths: (
  xsmall: 150px,
  small: 300px,
  medium: 450px,
  large: 600px,
  xlarge: 750px
) !default;
