/* Color modifiers
   ========================================================================== */
/* Default */
$default-lighter: #ffffff;
$default-light: #f1f2f6;
$default-dark: #dfe4ea;
$default-darker: #ced6e0;

/* Primary */
$primary-lighter: #a4b0be;
$primary-light: #747d8c;
$primary-dark: #57606f;
$primary-darker: #2f3542;

/* Secondary */
$secondary-lighter: #70a1ff;
$secondary-light: #1e90ff;
$secondary-dark: #5352ed;
$secondary-darker: #3742fa;

/* Warning */
$warning-light: #eccc68;
$warning-dark: #ffa502;

/* Danger */
$danger-light: #ff6b81;
$danger-dark: #ff4757;

/* Success */
$success-light: #7bed9f;
$success-dark: #2ed573;

/* Breakpoints
   ========================================================================== */
$breakpoints: (\@s: 640px, \@m: 960px, \@l: 1200px, \@xl: 1600px) !default;
$margin-spacings: (
  small: 10px,
  medium: 20px,
  large: 40px,
  xlarge: 70px,
  auto: auto,
  remove: 0
) !default;
$padding-spacings: (
  small: 10px,
  medium: 20px,
  large: 40px,
  xlarge: 70px,
  remove: 0
) !default;
$grid-spacings: (
  small: 10px,
  medium: 20px,
  large: 40px,
  xlarge: 70px
) !default;
$heights: (
  xsmall: 150px,
  small: 300px,
  medium: 450px,
  large: 600px,
  xlarge: 750px
) !default;
$widths: (
  xsmall: 150px,
  small: 300px,
  medium: 450px,
  large: 600px,
  xlarge: 750px
) !default;
